<footer>
  <div class="p-8 bg-footer grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-y-5">
    <div class="column">
      <span class="title">دسترسی سریع</span>
      <ul>
        <li><a href="">سامانه آشنایی با خدمات کنسولی</a></li>
        <li><a href="">سامانه پاسخگویی به ایرانیان خارج از کشور</a></li>
        <li><a href="">سوالات متداول</a></li>
        <li><a href="">دریافت راهنما</a></li>
        <li><a href="">ارسال سوالات و نظر</a></li>
      </ul>
    </div>
    <div class="flex justify-center items-center">
      <img [src]="mapImg" alt="map" class="w-11/12">
    </div>
    <div class="column col-span-full lg:col-span-1">
      <span class="title">تماس با ما</span>
      <ul>
        <li>آدرس : جمهوری اسلامی ایران، تهران، میدان امام خمینی (ره)، خیابان امام خمینی (ره)، وزارت امور خارجه</li>
        <li>تلفنخانه : 61151</li>
        <li>دورنگار : 61154275</li>
        <li>پست الکترونیکی : <span>info{{ '@' }}mfa.gov.ir</span></li>
      </ul>
    </div>
  </div>
  <div class="copyright py-9 flex gap-x-3 text-xs justify-center items-center">
    <img [src]="marginWhiteImg" alt="" class="w-24 transform rotate-180">
    <span class="text-[#b7dcfb]">کلیه حقوق این سایت متعلق به وزارت امور خارجه جمهوری اسلامی ایران میباشد.</span>
    <img [src]="marginWhiteImg" alt="" class="w-24 ">

  </div>
</footer>
