@font-face {
  font-family: 'IRANYekan';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Regular/IRANYekanWeb.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Regular/IRANYekanWeb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Regular/IRANYekanWeb.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Regular/IRANYekanWeb.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Regular/IRANYekanWeb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.IranYekan{
  font-family: 'IRANYekan' , sans-serif !important;
}

@font-face {
  font-family: 'IRANYekan-Light';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Light/IRANYekan-Light.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Light/IRANYekan-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Light/IRANYekan-Light.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Light/IRANYekan-Light.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Light/IRANYekan-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.IranYekan-Light{
  font-family: 'IRANYekan-Light' , sans-serif !important;
}


@font-face {
  font-family: 'IRANYekan-Medium';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Medium/IRANYekanWeb-Medium.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Medium/IRANYekanWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Medium/IRANYekanWeb-Medium.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Medium/IRANYekanWeb-Medium.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Medium/IRANYekanWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.IranYekan-Medium{
  font-family: 'IRANYekan-Medium' , sans-serif !important;
}

@font-face {
  font-family: 'IRANYekan-Bold';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Bold/IRANYekanWeb-Bold.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Bold/IRANYekanWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Bold/IRANYekanWeb-Bold.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Bold/IRANYekanWeb-Bold.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Bold/IRANYekanWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.IranYekan-Bold{
  font-family: 'IRANYekan-Bold' , sans-serif !important;
}

@font-face {
  font-family: 'IRANYekan-ExtraBold';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Extra-Bold/IRANYekanWeb-ExtraBold.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Extra-Bold/IRANYekanWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Extra-Bold/IRANYekanWeb-ExtraBold.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Extra-Bold/IRANYekanWeb-ExtraBold.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Extra-Bold/IRANYekanWeb-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.IranYekan-ExtraBold{
  font-family: 'IRANYekan-ExtraBold' , sans-serif !important;
}

@font-face {
  font-family: 'IRANYekanFn';
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Web-Fn/IRANYekanWebFn.eot');
  src: url('../fonts/Iran-Yekan/Iran-Yekan-Web-Fn/IRANYekanWebFn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Web-Fn/IRANYekanWebFn.woff2') format('woff2'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Web-Fn/IRANYekanWebFn.woff') format('woff'),
  url('../fonts/Iran-Yekan/Iran-Yekan-Web-Fn/IRANYekanWebFn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.IranYekanFn{
  font-family: 'IRANYekanFn' , sans-serif !important;
}
